<main>

	<h2>You are viewing: {{donut.name}}</h2>

	<a href="/">Return to Home Page</a>

	<div class="donut-container-show">
		<h2 id="donut-name">Name: {{donut.name}}</h2>
		<img src="{{donut.img}}">
		<h3 id="description">Description: {{donut.description}}</h3>
		<p id="cost">Price: ${{donut.price}}</p>
		<h3 id="quantity">Quantity: {{donut.qty}}</h3>
		<br>

		<a href="/{{donut._id}}/edit">Edit This Donut</a>
		
		<br>

		<form action="/{{donut._id}}?_method=DELETE" method="POST">
        <button type="submit">Delete {{donut.name}}</button>
   		</form>

		


	</div>



	</main>

