<h1> HEYYY MATEY! HERE ARRGH THE PIRATES </h1>

<h2>AARGH there are {{pirates.length}} pirates aboard</h2>


<ul>
  {{#each pirates}}
    <li>Name: {{name}}</li>
    <li>Birthplace: {{birthplace}}</li>
    <li>Death Year: {{death_year}}</li>
    <li>Base: {{base}}</li>
    <li>Nickname: {{nickname}}</li>
    <br>
  {{/each}}
</ul>


<a href="/pirates/new">ADD A PIRATE HERE</a>
